.header {
    background: #0A86FF;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5em 1em;
}

.icon-list {
    font-size: 1.5em;
    color: #FFF;
}

.slide-menu {
    position: fixed !important;
    position: absolute;
    top: 7.2em;
    padding: 1em;
    height: 100%;
    width: 15em;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
    z-index: 1;
    overflow: auto;
}

.menu-hidden .slide-menu {
    transform: translate3d(-15em, 0, 0);
    transition: transform 0.2s;
}


.entry {
    border-bottom: 1px solid #ddd;
    padding: 1em;
    margin: 0.5em 0;
}

.map {
    position:fixed !important;
    position:absolute;
    top: 3.5em;
    right:0;
    bottom:0;
    left: 0;
}

.infowindow {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

footer {
width: 100%;
background: #336699;
float: left;
margin: 0 0 .5% 0;
border-radius: 10px;
box-shadow: 5px 5px 10px #202020
}

address {
font-size : 16px;
text-align : center;
color: #efefef;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020
}

@media screen and (max-width: 400px) {
    .header-title {
        font-size: 1.5em !important;
    }

    h4 {
        font-size: 1.1em !important;
    }
}