@media screen and (max-width: 950px) {
	.img-responsive-circle,
    .projects img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.header h1,
    .header h2 {
		text-align: center;
	}
}
